log4perl.logger = DEBUG, AppDebug, AppProcSpec, AppError

log4perl.filter.DebugAndUp = Log::Log4perl::Filter::LevelRange
log4perl.filter.DebugAndUp.LevelMin   = INFO
log4perl.filter.DebugAndUp.LevelMax   = FATAL

log4perl.filter.InfoAndUp = Log::Log4perl::Filter::LevelRange
log4perl.filter.InfoAndUp.LevelMin   = INFO
log4perl.filter.InfoAndUp.LevelMax   = INFO 

log4perl.filter.ErrorAndUp = Log::Log4perl::Filter::LevelRange
log4perl.filter.ErrorAndUp.LevelMin   = ERROR
log4perl.filter.ErrorAndUp.LevelMax   = FATAL

log4perl.appender.AppDebug  = Log::Log4perl::Appender::File
log4perl.appender.AppDebug.filename = sub { my $debug = $0; $debug  =~ s/^(.*\/)(.*?)$/$1/g; my $fill = ""; if($2 eq "rest"){$fill = "../"}; $1 . $fill . "logs/" . $2 . "-debug.log"; }
log4perl.appender.AppDebug.layout = PatternLayout
log4perl.appender.AppDebug.layout.ConversionPattern = %d %F %L %p> %m%n

log4perl.appender.AppProcSpec  = Log::Log4perl::Appender::File
log4perl.appender.AppProcSpec.filename = sub { my $info=$0; $info  =~ s/^(.*\/)(.*?)$/$1/g; my $fill = ""; if($2 eq "rest"){$fill = "../"}; $1 . $fill . "logs/" . $2 . "-info.log"; }
log4perl.appender.AppProcSpec.layout = PatternLayout
log4perl.appender.AppProcSpec.layout.ConversionPattern = %d %F %L %p> %m%n
log4perl.appender.AppProcSpec.Filter = InfoAndUp

log4perl.appender.AppError  = Log::Log4perl::Appender::File
log4perl.appender.AppError.filename = sub { my $error=$0; $error =~ s/^(.*\/)(.*?)$/$1/g; my $fill = ""; if($2 eq "rest"){$fill = "../"}; $1 . $fill . "logs/" . $2 . "-error.log"; }
log4perl.appender.AppError.layout = PatternLayout
log4perl.appender.AppError.layout.ConversionPattern = %d %F %L %p> %m%n
log4perl.appender.AppError.Filter = ErrorAndUp
